{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="tag-detail">
    <div>
    <a href="{% url 'meal_plan_edit' meal_detail.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' meal_detail.id %}">Delete</a>
    </div>
    <h2>Meal plan for {{ meal_detail.name }} on {{ meal_detail.date }}</h2>
    {% for recipe in meal_detail.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}
</main>
{% endblock content %}