{% extends 'base.html' %}

{% block content %}
<main class="recipe-grid">
    {% for meal in mealplan_list %}
    <div class="recipe-card">
        <a href="{% url 'meal_plan_new' %}">create</a>
        <h2 class="recipe-card-title">
        <a href="{% url 'meal_plan_detail' meal.pk %}">{{ meal.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ meal.date }}</p>

        {% for recipe in meal.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
        {% endfor %}
    </div>
</div>
{% endfor %}
</main>
{% endblock content %}